* {
    box-sizing: border-box;
  }

#app {
    font-family: "Jost", Helvetica, Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100vh;

    .client-form {
        position: relative;
        z-index: 1;
        width: 50%;
        background-color: #fff;
        padding: calc( 70 * 100vw/1440) calc( 34 * 100vw/1440) calc( 70 * 100vw/1440)  calc(140 *100vw/1440);

        @media (max-width: 991px) {
            width: 100%;
            padding: 4.375rem;
        }

        @media (max-width: 767px) {
            padding: 1.875rem;
        }

        @media (max-width: 575px) {
            padding: 1.875rem .9375rem;
        }
        
        &__title {
            color: $text-color;
            font-weight: 600;
            font-size: 2rem;
            line-height: 128%;
            margin-bottom: 1em;

            @media (min-width: 1921px) {
                font-size: calc(2 * 16 * 100vw/1440);
            }

            @media (max-width: 575px) {
                font-size: 1.5rem;
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;

        @media (max-width: 991px) {
            display: none;
        }
        
        img {
            display: block;
            width: 100%;
            min-height: 100%;
            opacity: .8;
            object-fit: cover;
        }
    }
}